{{- $name := "Your Name" -}}
{{- $email := "your.email@example.com" -}}

{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else if (env "GIT_AUTHOR_NAME") -}}
{{-   $name = env "GIT_AUTHOR_NAME" -}}
{{- end -}}

{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if (env "GIT_AUTHOR_EMAIL") -}}
{{-   $email = env "GIT_AUTHOR_EMAIL" -}}
{{- end -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}

[diff]
    pager = "less -FRX"

[merge]
    command = "vimdiff"

[edit]
    command = "{{ if lookPath "nvim" }}nvim{{ else if lookPath "vim" }}vim{{ else }}vi{{ end }}"
